@import "onedocs/css/preset.css";

@source "./routes/**/*.tsx";
@source "../content/**/*.mdx";

/* Custom styles for lined layout */
#nd-home-layout > header > div:first-child {
  @apply mx-auto max-w-(--fd-layout-width) border-x;
}