@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@source "../../dist/**/*.js";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    font-feature-settings: "calt", "cv02", "cv03", "cv04", "cv11", "ss07", "ss08";
  }
}

@layer base {
  @media (min-width: 1024px) {
    [data-orientation="horizontal"] > ul:last-child {
      display: none !important;
    }
  }
}
