@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source "../../dist/**/*.js";

@layer base {
  @media (min-width: 1024px) {
    [data-orientation="horizontal"] > ul:last-child {
      display: none !important;
    }
  }
}
