@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source "../../dist/**/*.js";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #nd-home-layout {
    height: 100%;
  }

  body {
    font-feature-settings: "calt" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv11" 1, "ss08" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-feature-settings: "calt" 1, "cv02" 1, "cv03" 1, "cv04" 1, "cv11" 1, "ss07" 1, "ss08" 1, "dlig" 1;
  }

  #nd-home-layout > header > div:first-child {
    @apply mx-auto max-w-(--fd-layout-width) border-x;
  }

  @media (min-width: 1024px) {
    [data-orientation="horizontal"] > ul:last-child {
      display: none !important;
    }
  }

}

@media (min-width: 48rem) {
  #nd-docs-layout #nd-sidebar {
    --fd-sidebar-width: 266px !important;
  }
}

#nd-sidebar#nd-sidebar > div:first-child {
  padding-top: 13px !important;
}

#nd-subnav > a {
  margin-left: 1px;
}

[aria-label="Open Sidebar"] {
  margin-right: 1px;
}
